*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #0b0a0a;
    
}
body{
    background: linear-gradient(90deg, #8f81f9,#715aef)
}
/* #d5bdaf*/
.container{
    height:90vh;
    text-align: center;
    margin-top: 2vh;
    
}
.hide{
    padding: 20px;
    visibility:hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.game{
    padding-top: 1.5vh;
    height:50vh;
    width:50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    margin:auto;
    padding-bottom: 5vh;
    
}
.box{
    height:14vh;
    width:14vw;
    font-size: 50px;
    color:black;
    border-color: #dad2ff ;
    background-color: #dad2ff;
    border-radius: 20px;
}
.reset {
    padding:10px 40px  ;
    font-size: 25px;
    background-color: #dad2ff;
    border-color:#dad2ff ;
    border-radius: 20px;
}
.newGame {
    padding:10px 40px  ;
    margin-top: 2px;
    font-size: 20px;
    background-color: #dad2ff;
    border-color:#dad2ff; 
    border-radius: 20px;
}

.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
